<!DOCTYPE HTML>
<html>
<head>
<title>هتجوز </title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Best Day Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<link href="css/bootstrap.css" rel="stylesheet" type="text/css" />

<link href="https://fonts.googleapis.com/css?family=Cairo" rel="stylesheet">
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<!--Custom-Theme-files-->
	<link href="css/style.css" rel="stylesheet" type="text/css" />	
	<script src="js/jquery.min.js"> </script>
<!--/script-->
<script type="text/javascript" src="js/move-top.js"></script>
<script type="text/javascript" src="js/easing.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" ></script>
<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){		
					event.preventDefault();
					$('html,body').animate({scrollTop:$(this.hash).offset().top},900);
				});
			});
</script>
</head>
<body >
	<!--start-home-->


  <div class="navbar" style="direction: rtl; margin: 0 auto">
  <div class="contaier" style="margin-left:300px">

 
      <ul class="nav navcollaps" style="direction: rtl;">
       
       
        <li><a href="#"><i class="fa fa-comment"></i>    الدردشه</a></li>
         
        <li><a href="#"><i class="fa fa-envelope"></i>   الرسائل</a></li>
          <li><a href="#"><i class="fa fa-heart"></i>     الاعجاب</a></li>
        <li><a href="#"> <i class="fa fa-users"></i>    الزيارات</a></li>
         <li><a href="#"><i class="fa fa-search"></i>    البحث</a></li>
         <li><a href="#"> <i class="fa fa-home"></i>     الصفحه الرئيسه</a></li>
      </ul>
      
         <div class="navbar-header">
      <button class="toggle"><span></span>
      <span></span>
      <span></span></button>
      <a href="" class="navbar-brand" style="margin-top: -20px"><img src="images/logo-girl.png" width="120px"></a>
    </div><!-- navbar-header -->


  </div><!-- contaier -->
</div><!-- navbar -->




	<!-- room -->
	<div class="container" style="direction: rtl">
		<div class="row">
			
			<div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 chat" style="height: 450px">
					<h3>  الاساسية   </h3>
					<hr>
				
				<h5>   النوع:  <span style="padding-right: 30px"> <input type="radio" name="radio" style="padding: 50px" > انثي   <input type="radio" name="radio"> ذكر </span></h5>
      <hr>
        
         <h5 style="text-align: right;padding-right:130px">
          
           <input type="checkbox" name="checkbox" >
            <i></i>بيانات مع الصور 
            </h5>
            
         <h5  style="text-align: right;padding-right: 130px">
          <br>
           <input type="checkbox" name="checkbox" >
            <i></i>  المتواجدون الآن في الموقع  
            </h5>
            <br>
          <hr>
            <form >
    <div class="form-group">
      <select class="form-control" >
        <option> اخر تواجد ... </option>
        <option>اليوم</option>
        <option>من اسبوع</option>
        <option>من شهر</option>
      </select>
     
    </div>
  </form>
         
             <form>
    <div class="form-group">
      <select class="form-control">
        <option> تاريخ التسجيل ... </option>
        <option>اليوم</option>
        <option>من شهر</option>
        <option>من شهر</option>
      </select>
     
    </div>
  </form>
         
			</div>
			
			
			<div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 search"  style="height: 450px">
					<h3> التفصايل </h3>
					<hr>
				   <form >
    <div class="form-group">
      <select class="form-control" >
        <option>الجنسية  ... </option>
        <option>مصر</option>
        <option>السعوديه</option>
        <option>الكويت</option>
      </select>
     
    </div>
  </form>
      <hr>
          <form >
    <div class="form-group">
      <select class="form-control" >
        <option>اختر الدولة ... </option>
        <option>مصر</option>
        <option>السعوديه</option>
        <option>الكويت</option>
      </select>
     
    </div>
  </form>
            <hr>
           <form>
    <div class="form-group">
      <select class="form-control">
        <option>اختر العمر ... </option>
        <option>20</option>
        <option>30</option>
        <option>30</option>
      </select>
     
    </div>
  </form>
      <hr>
       
                  <form>
    <div class="form-group">
      <select class="form-control">
        <option> الحاله الاجتماعية ... </option>
        <option>20</option>
        <option>30</option>
        <option>30</option>
      </select>
     
    </div>
  </form>
        

			</div>
		</div>
	</div>
	

	<!-- room -->


	<!-- room -->
	<div class="container" style="direction: rtl">
		<div class="row">
			
			<div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 search" style="height: 450px">
					<h3>  التفاصيل المتقدمة   </h3>
					<hr>
				
				<input type="text"
             class="user"
             placeholder="اسم المستخدم"/>
      <hr>
        
            <form >
    <div class="form-group">
      <select class="form-control" >
        <option>طريقة التواصل ... </option>
        <option>الموقع </option>
        <option>البريد </option>
        <option>الايميل</option>
      </select>
     
    </div>
  </form>
         
              <form >
    <div class="form-group">
      <select class="form-control" >
        <option> لديك ابناء ... </option>
        <option>0 </option>
        <option>1 </option>
        <option>2</option>
      </select>
     
    </div>
  </form>
             <form>
    <div class="form-group">
      <select class="form-control">
        <option> التحصيل العلمي  ... </option>
        <option>غير متعلم</option>
        <option> تعليم مدرسي</option>
        <option> تعليم جامعي</option>
      </select>
     
    </div>
  </form>
            <form>
    <div class="form-group">
      <select class="form-control">
        <option>  المهنة  ... </option>
        <option>طالب </option>
        <option>  موظف حكومي</option>
        <option>  موظف قطاع خاص</option>
      </select>
     
    </div>
  </form>
         
			</div>
			
			
			<div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 chat"  style="height: 450px">
					<h3> المظهر </h3>
					<hr>
				   <form >
    <div class="form-group">
      <select class="form-control" >
        <option>لون العين  ... </option>
        <option>اسود</option>
        <option>بني</option>
        <option>اخضر</option>
      </select>
     
    </div>
  </form>
      <hr>
          <form >
    <div class="form-group">
      <select class="form-control" >
        <option> لون الشعر ... </option>
        <option>اسود</option>
        <option>بني</option>
        <option>احمر</option>
      </select>
     
    </div>
  </form>
            <hr>
           <form>
    <div class="form-group">
      <select class="form-control">
        <option> لون البشرة ... </option>
        <option>ابيض</option>
        <option>يميل الي البياض</option>
        <option>اسمر</option>
      </select>
     
    </div>
  </form>
      <hr>
       
                  <form>
    <div class="form-group">
      <select class="form-control">
        <option>  الطول ... </option>
        <option>قصير</option>
        <option>متوسط</option>
        <option>طويل</option>
      </select>
     
    </div>
  </form>
       
               <form>
    <div class="form-group">
      <select class="form-control">
        <option>  الوزن ... </option>
        <option>ضيعف</option>
        <option>عادي</option>
        <option>سمين</option>
      </select>
     
    </div>
  </form>
        
        

			</div>
			
<button  class="login" style="width:50%; margin: 0 auto"> <i class="fa fa-search"></i> ابحث </button>
		</div>
		
	</div>
	

	<!-- room -->



	
	
	<!--/footer-->
	 
	 
		<footer class="footer-distributed">

			<div class="footer-left">
					<p class="footer-company-about" style="direction: rtl;text-align: right" >
					<span style="direction: rtl"> هتجوز </span>
موقع تعارف وتواصل عريق يضع الوطن العربي والعالم بين يديك من خلال الدردشة والمراسلة والمحادثة والشات للقاء شريك العمر والارتباط بالنصف الآخر و فارس الأحلام. 				</p>

				


				
			</div>

			<div class="footer-center" style="direction: rtl;text-align: center" >
					<div>
					<i class="fa fa-envelope"></i>
					<p>رسائل الادارة</p>
				</div>

				<div>
					<i class="fa fa-check"></i>
					<p>نصائح واقتراحات</p>
				</div>

				<div>
					<i class="fa fa-question"></i>
					<p>الاسئله المتداولة</p>
				</div>

			

			</div>

			<div class="footer-right">
<h3><img src="images/logo-man.png"></h3>

			</div>

		</footer>

	 
	 
	 
	 
	 
		 
<footer>
		<div class="copy">
		    <p>&copy; 2018 All Rights Reserved | Design by <a href="http://gtsaw.com/">gtsaw</a> </p>
		</div>
		</footer>
		<!--//footer-->
			



<script>
	
	$(".toggle").click(function(){
  $(".navcollaps").toggleClass("show");
});
	</script>

	
			
										
						
								
								
								


</body>
</html>